@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground antialiased;
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  margin: 0;
}

a {
  @apply text-accent no-underline;
}

* {
  box-sizing: border-box;
}
